<div class="block3">
	<div class="info container">
		<div class="info__symbol_1"></div>
		<div class="info__symbol_2"></div>
		<div class="info__symbol_3"></div>
		
		<h3 class="info__header">Lorem ipsum dolor</h3>

		<div class="info__block">
			<ul class="info__list">
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Lorem ipsum dolor sit</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Lorem ipsum dolor sit</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Lorem ipsum dolor sit</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Lorem ipsum dolor sit</div>
				</li>
			</ul>
			<div class="slideInfo ">
				<img src="http://placehold.it/398x398/000000" alt="иллюястрация" class="slideInfo__img">
				<div class="slideInfo__cont">
					<h4 class="slideInfo__head">Lorem, ipsum dolor.</h4>
					<p class="slideInfo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum eaque deserunt enim dicta velit corrupti ratione provident ex est id aperiam perspiciatis, iure maxime ut nobis?</p>
				</div>
			</div>
		</div>

		<div class="infoVideo">
			<div class="infoVideo__block">
				<h4 class="infoVideo__header info__header">Lorem ipsumr</h4>
				<p class="infoVideo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum quas consequatur delectus unde expedita numquam nostrum nemo eaque maiores. Quidem, molestias.
				</p>
			</div>
			<div class="infoVideo__video"></div>
		</div>
	</div>
</div>