<div class="block3">
	<div class="wrapperforsymbol container">
		<div class="info__symbol_1"></div>
		<div class="info__symbol_2"></div>
		<div class="info__symbol_3"></div>

	</div>
	<div class="info container">

		<h3 class="info__header">Lorem ipsum dolor</h3>

		<div class="info__block">
			<ul class="info__list">
				<li class="info__item info__item-check">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Lorem ipsum dolor sit</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Nulla iusto error explicabo</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Nihil obcaecati necessitatibus minus</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Nihil obcaecati necessitatibus minus</div>
				</li>
				<li class="info__item">
					<svg class="info__check">
						<use xlink:href="#check"></use>
					</svg>
					<div class="info__text">Quis officia ea quod</div>
				</li>
			</ul>
			<div class="info__cont">
				<div class="slideInfo slideInfo-vis">
					<img src="http://placehold.it/398x398/000000" alt="иллюястрация" class="slideInfo__img">
					<div class="slideInfo__cont">
						<h4 class="slideInfo__head">Lorem, ipsum dolor.</h4>
						<p class="slideInfo__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio
							ducimus deleniti dicta iste autem corrupti architecto hic fugit inventore, sapiente quaerat,
							possimus, vero velit! Ratione laudantium impedit numquam quis.</p>
					</div>
				</div>
				<div class="slideInfo ">
					<img src="http://placehold.it/398x398/1a1a1a" alt="иллюястрация" class="slideInfo__img">
					<div class="slideInfo__cont">
						<h4 class="slideInfo__head">Quo dolorum Libero</h4>
						<p class="slideInfo__text">Repellendus possimus architecto ullam quaerat praesentium sunt non
							dolore facere quae! Harum eos iusto consequuntur, accusamus totam veritatis dicta qui neque
							quisquam numquam ducimus aut, id modi deleniti quasi?</p>
					</div>
				</div>
				<div class="slideInfo ">
					<img src="http://placehold.it/398x398/313131" alt="иллюястрация" class="slideInfo__img">
					<div class="slideInfo__cont">
						<h4 class="slideInfo__head">Iure necessitatibus deserunt</h4>
						<p class="slideInfo__text">Amet odit ducimus repudiandae sint inventore expedita rem, quae cum,
							voluptas magni dolor. Vel repudiandae repellendus ipsum veritatis tenetur mollitia aliquid
							impedit dolorem quis ratione cum iste, quo nesciunt?</p>
					</div>
				</div>
				<div class="slideInfo ">
					<img src="http://placehold.it/398x398/5e5e5e" alt="иллюястрация" class="slideInfo__img">
					<div class="slideInfo__cont">
						<h4 class="slideInfo__head">Lorem, ipsum dolor.</h4>
						<p class="slideInfo__text">Repellendus possimus architecto ullam quaerat praesentium sunt non
							dolore facere quae! Harum eos iusto consequuntur, accusamus totam veritatis dicta qui neque
							quisquam numquam ducimus aut, id modi deleniti quasi</p>
					</div>
				</div>
				<div class="slideInfo ">
					<img src="http://placehold.it/398x398/A9A9A9" alt="иллюястрация" class="slideInfo__img">
					<div class="slideInfo__cont">
						<h4 class="slideInfo__head">Lorem, ipsum dolor.</h4>
						<p class="slideInfo__text">Iste ex harum atque adipisci? Sequi sapiente eos eveniet quam
							adipisci voluptas fugiat ullam reprehenderit, quo, porro provident autem explicabo cumque
							iusto! Impedit repellat cupiditate accusamus, voluptatibus vitae mollitia.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="infoVideo">
			<div class="infoVideo__block">
				<h4 class="infoVideo__header info__header">Lorem ipsum</h4>
				<p class="infoVideo__text">Voluptatum dolorem, blanditiis totam iusto cupiditate deleniti omnis
					perspiciatis quas earum ipsam reprehenderit, sunt in obcaecati harum iure dolores recusandae,
					corporis repellendus asperiores ex ipsum. Voluptate tempora quia odio.
				</p>
			</div>
			<div class="infoVideo__video"></div>
		</div>

	</div>
</div>