<div class="banner">
	<div class="banner__symbol_1"></div>
	<div class="banner__symbol_2"></div>
	<div class="head banner__head">
		<svg class="head__logo">
			<use xlink:href="#ECCO_Logo"></use>
		</svg>
		<div class="container head__cont">
			<h1 class="head__header">Lorem ipsum dolor sit amet consectetur</h1>
			<div class="sale head__sale">
				<span class="sale__text">скидка</span>
				<span class="sale__value">50%</span>
			</div>

			<div class="cyrcle banner__cyrcle">
				<div class="cyrcle__border">
					<span>Заказать по скидке</spa>
				</div>
			</div>

		</div>
	</div>
	<div class="prom banner__prom container">
		<h2 class="prom__header">Lorem ipsum dolor</h2>
		<p class="prom__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna</p>
		<div class="prom__scheme">
			<img class="prom__image" src="./img/Photo/layer_4@1X.png" alt="Превосходная обувь">
			<ul class="listDesc">
				<li class="listDesc__item listDesc__item-l">
					<div class="cyrcleM listDesc__cyrcle-lb">&#215;</div>
					<div class="listDesc__cont listDesc__cont-lb">
						<svg class="listDesc__symbol">
							<use xlink:href="#leather"></use>
						</svg>
						<h3 class="listDesc__header">Lorem, ipsum dolor.</h3>
						<p class="listDesc__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, nemo?
						</p>
					</div>
				</li>
				<li class="listDesc__item listDesc__item-c">
					<div class="cyrcleM listDesc__cyrcle-rt">&#215;</div>
					<div class="listDesc__cont listDesc__cont-rt">
						<svg class="listDesc__symbol">
							<use xlink:href="#super"></use>
						</svg>
						<h3 class="listDesc__header">Lorem, ipsum dolor.</h3>
						<p class="listDesc__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, nemo?
						</p>
					</div>
				</li>
				<li class="listDesc__item listDesc__item-r">
					<div class="cyrcleM listDesc__cyrcleM listDesc__cyrcle-rb">&#215;</div>
					<div class="listDesc__cont listDesc__cont-rb">
						<svg class="listDesc__symbol">
							<use xlink:href="#sale"></use>
						</svg>
						<h3 class="listDesc__header">Lorem, ipsum dolor.</h3>
						<p class="listDesc__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, nemo?
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>