<div class="order">
	<div class="select container">
		<div class="select__slide">

		</div>
		<div class="select__by">
			<div class="select__decs">
				<div class="select__head">
					<svg class="select__logo">
						<use xlink:href="#ECCO_Logo"></use>
					</svg>
					<h4 class="select__header">Lorem ipsum dolor</h4>
				</div>
				<div class="srlrct__cost"><span>3690</span><span>1379грн</span></div>
				<ul class="select_list">
					<li class="select__item"><span class="item__cat">Сезон:</span><span class="item__val">Осень 2019</span></li>
					<li class="select__item"><span class="item__cat">Вид товара:</span><span class="item__val">Кроссовки</span></li>
					<li class="select__item"><span class="item__cat">Каблук:</span><span class="item__val">Ниже 30 мм </span></li>
					<li class="select__item"><span class="item__cat">Верх:</span><span class="item__val">Натуральная телячья кожа</span></li>
					<li class="select__item"><span class="item__cat">Подошва:</span><span class="item__val">Термополиуретан</span></li>
					<li class="select__item"><span class="item__cat">Стиль:</span><span class="item__val">Ежедневный (casual)</span></li>
					<li class="select__item"><span class="item__cat"></span><span class="item__val"></span></li>
				</ul>
				<div class="select__slider">
					<img src="./img/Photo/1@x0.25.jpg" alt="Черная модель" class="select__img">
					<img src="./img/Photo/2@x0.25.jpg" alt="Черная модель" class="select__img">
					<img src="./img/Photo/3@x0.25.jpg" alt="Черная модель" class="select__img">
					<img src="./img/Photo/4@x0.25.jpg" alt="Черная модель" class="select__img">
				</div>
				<button class="select__button">Заказать</button>
			</div>
		</div>
	</div>
	<div class="purchase">

	</div>
</div>













