<div class="blockslide">
	<div class="blockslide__cont">
		<div class="galeryDesc">
			<h3 class="galeryDesc__header">Lorem ipsum</h3>
			<p class="galeryDesc__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

			</p>
		</div>
		<div class="slider">
			<button class="slider__button"><span>&larr;</span></button>
			<div class="slider__list">
				<img class="slider__img" src="../img/gallery/1@x1.jpg" alt="Обувь на модели">
				<img class="slider__img" src="../img/gallery/2@x1.jpg" alt="Обувь на модели">
				<img class="slider__img" src="../img/gallery/3@x1.jpg" alt="Обувь на модели">
				<img class="slider__img" src="../img/gallery/4@x1.jpg" alt="Обувь на модели">
			</div>
		</div>
	</div>
</div>