<div class="blockslide">
	<div class="blockslide__cont">
		<div class="blockslide__wrapper">
			<div class=" blockslide__desc">
				<h3 class="blockslide__header">Oсень 2019</h3>
				<p class="blockslide__text">
					Посмотрите нашу галарею! Именно так вы будете выглядеть в кроссовках ECCO Soft 8. В нашем магазине
					выбор из 2 оригинальных цветов: классический и черный и трендовый осенний цвет бордо.
				</p>
			</div>
		</div>
		<div class="slider">
			<div class="slider__wrap">
				<div class="slider__list transition">
					<img class="slider__img" src="./img/gallery/1@x1.jpg" alt="Обувь на модели">
					<img class="slider__img" src="./img/gallery/2@x1.jpg" alt="Обувь на модели">
					<img class="slider__img" src="./img/gallery/3@x1.jpg" alt="Обувь на модели">
					<img class="slider__img" src="./img/gallery/4@x1.jpg" alt="Обувь на модели">
				</div>
			</div>
			<div class="slider__control">
				<button class="slider__button btnLeft">
					<svg class="slider__symb">
						<use xlink:href="#larr"></use>
					</svg>
				</button>
				<div class="slider__indicat">
					<div class="slider__reg"></div>
					<div class="slider__reg slider__reg-active"></div>
					<div class="slider__reg"></div>
				</div>
				<button class="slider__button slider__button-r btnRight">
					<svg class="slider__symb">
						<use xlink:href="#rarr"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>