<div class="order">
	<div class="select container">
		<div class="cardSlide select__cardSlide">
			<svg class="cardSlide__logo">
				<use xlink:href="#ECCO_Logo"></use>
			</svg>
			<div class="cardSlide__cont">
				<div class="cardSlide__sale">
					<div class="cardSlide__saleval">60%</div>
				</div>
				<div class="cardSlide__control">
					<button class="cardSlide__but">
						<svg class="cardSlide__symb">
							<use xlink:href="#larr"></use>
						</svg>
					</button>
					<button class="cardSlide__but">
						<svg class="cardSlide__symb">
							<use xlink:href="#rarr"></use>
						</svg>
					</button>
				</div>
			</div>
			<img src="../img/Photo/layer_black@1X.png" alt="Туфли черные" class="cardSlide__img">
			<img src="../img/Photo/layer_brown@1X.png" alt="Туфли красные" class="cardSlide__img front">
			<img src="../img/Photo/top_black@1X.png" alt="Туфли красные" class="cardSlide__outimg front">
			<img src="../img/Photo/top_brown@1X.png" alt="Туфли красные" class="cardSlide__outimg">
			//= ./_cardBy__slider.html

		</div>
		<!-- 	start	select__cardBy -->
		<a name="cardBy"></a>
		<div class="select__cardBy cardBy">
			<div class="cardBy__decs">
				<div class="cardBy__head">
					<svg class="cardBy__logo  cardBy__logo-s">
						<use xlink:href="#ECCO_Logo"></use>
					</svg>
					<h4 class="cardBy__header">Lorem ipsum dolor</h4>
				</div>
				<div class="cardBy__cost">
					<span class="cardBy__cost-old">3690 грн</span><span class="cardBy__cost-new">1379 грн</span>
				</div>
				<div class="cardBy__wrapper">
					<ul class="cardBy_list">
						<li class="cardBy__item"><span class="item__cat">Сезон:</span><span class="item__val">Осень
								2019</span></li>
						<li class="cardBy__item"><span class="item__cat">Вид товара:</span><span
								class="item__val">Кроссовки</span></li>
						<li class="cardBy__item"><span class="item__cat">Каблук:</span><span class="item__val">Ниже 30
								мм
							</span></li>
						<li class="cardBy__item"><span class="item__cat">Верх:</span><span class="item__val">Натуральная
								телячья кожа</span></li>
						<li class="cardBy__item"><span class="item__cat">Подошва:</span><span
								class="item__val">Термополиуретан</span></li>
						<li class="cardBy__item"><span class="item__cat">Стиль:</span><span class="item__val">Ежедневный
								(casual)</span></li>
					</ul>
					//= ./_cardBy__slider.html
					<button class="cardBy__button cardBy__button-list">Заказать</button>
				</div>
				<div class=" hide cardBy__wrapper">
					<form class="cardBy__form" action="">
						<div class="select-wrapper">
							<div class="select-arrow-3"></div>
							<div class="select__place select__place-cyrcle">Цвет:</div>
							<select class="cardBy__in" name="color" id="">
								<!-- <optionvalue="black">Черный</option>
								<option value="red">Красный</option> -->
							</select>
						</div>
						<div class="select-wrapper">
							<div class="select-arrow-3"></div>
							<div class="select__place select__place">Размер:</div>
							<select class="cardBy__in" name="color" id="">
								<!-- <option value="42">42</option>
								<option value="43">43</option>
								<option value="44">44</option> -->
							</select>
						</div>
						<input class="cardBy__inp" type="text" placeholder="Имя">
						<input class="cardBy__inp" type="text" placeholder="Телефон">
					</form>
					<button class="cardBy__button cardBy__button-form">Заказать</button>
					<button class="cardBy__back">
						<svg class="cardBy__symb">
							<use xlink:href="#larr"></use>
						</svg>
						<span>Назад к характеристикам</span>
					</button>
				</div>


			</div>
		</div>
		<!-- 	end	select__cardBy  -->
	</div>


	<!-- 	second card -->
	<div class="purchase">
		<div class="cardSlide purchase__cardSlide">
			<svg class="cardSlide__logo">
				<use xlink:href="#ECCO_Logo"></use>
			</svg>
			<div class="cardSlide__cont">
				<div class="cardSlide__sale">
					<div class="cardSlide__saleval">60%</div>
				</div>

				<div class="cardSlide__control cardSlide__control-pur">
					<button class="cardSlide__but">
						<svg class="cardSlide__symb">
							<use xlink:href="#larr"></use>
						</svg>
					</button>
					<button class="cardSlide__but">
						<svg class="cardSlide__symb">
							<use xlink:href="#rarr"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="cardSlide__sliderspray sliderSpray">
				<div class="sliderSpray__wrapper">
					<img class="sliderSpray__img" src="../img/spray1.png" alt="Спрей для обуви хороший">
					<img class="cardSlide__spray" src="../img/spray2.png" alt="Спрей для обуви совсем хорший">
				</div>
			</div>

		</div>

		<div class="cardBy purchase__cardBy">
			<div class="cardBy__decs">
				<div class="cardBy__head">
					<svg class="cardBy__logo cardBy__logo-s">
						<use xlink:href="#ECCO_Logo"></use>
					</svg>
					<h4 class="cardBy__header">Lorem ipsum dolor</h4>
				</div>
				<div class="cardBy__cost">
					<span class="cardBy__cost-old">3690 грн</span><span class="cardBy__cost-new">1379 грн</span>
				</div>
				<div class="purchase__spray cardBy__wrapper">
					<div class="purchase__text">
						Высоко-концентрированный спрей для ног и коленей активирует метаболические процессы, оказывает
						дренирующее действие, улучшает силуэт. Спрей устраняет отеки, снимает судороги в икроножных
						мышцах, боли и напряжение в ногах.
					</div>
					<form class="cardBy__form" action="">
						<input class="cardBy__inp" type="text" placeholder="Имя">
						<input class="cardBy__inp" type="text" placeholder="Телефон">
					</form>

					<button class="cardBy__button cardBy__button-pur">Заказать</button>
				</div>
			</div>
		</div>

	</div>