<div id="popupRed" class="popup  popup-hide "><!---->
	<div class="popup__slider">
		<!-- <div hidden data-colorpsl="black" class="popup__list popup__list-hide">
			<img src="./img/Photo/black1@x2.jpg" alt="Черная модель" class="popup__img">
			<img src="./img/Photo/black2@x2.jpg" alt="Черная модель" class="popup__img">
			<img src="./img/Photo/black3@x2.jpg" alt="Черная модель" class="popup__img">
			<img src="./img/Photo/black4@x2.jpg" alt="Черная модель" class="popup__img">
		</div> -->
		<div data-colorpsl="red" class="popup__list">
			<img src="./img/Photo/red1@x2.jpg" alt="Красная модель" class="popup__img">
			<img src="./img/Photo/red2@x2.jpg" alt="Красная модель" class="popup__img">
			<img src="./img/Photo/red3@x2.jpg" alt="Красная модель" class="popup__img">
			<img src="./img/Photo/red4@x2.jpg" alt="Красная модель" class="popup__img">
		</div>
		<div class="popup__btn btnRight "></div>
		<div class="popup__btn popup__btn-r btnLeft"></div>
	</div>
	<div hidden class="cls"></div>
</div>
</div>